
.header, .room-description, .side-bar-inner, .proposal{
    background: white;
    box-shadow: 0 0 0.5em #00000033;
    border-radius: 0.4em;
}
.header{
    background: white;
    border-radius: 0;
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abs-container{
    width: 30%;
    margin: 1rem;
    display: block;
    
    position: absolute;
    top: 0;
    right: 0;
}
.side-bar-inner{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        align-self: flex-start;
        margin-bottom: 0.5rem;
        &:last-of-type{
            margin-bottom: 1.5rem;
        }
    }
    >button{
        width: 100%;
        margin-bottom: 1rem;

        &:last-of-type{
            margin-bottom: 1.6rem;
        }
    }
}

.room-description{
    width: 100%;
    padding: 1rem;

    position: relative;
    left: 0;
    margin-bottom: 1rem;

    h1{
        text-align: left;
        margin-bottom: 1rem;
    }
}

.proposals-grid{
    width: 75%;

    display: grid;
    grid-template-columns: 1;
    gap: 1rem;
}

.proposal{
    width: 100%;
    padding: 1rem;

    .row{
        width: 100%;
        justify-content: space-between;
    }
    p{
        margin: 0.5em 0;
    }
    img{
        background: $gray;
        height: 15rem;
        width: 100%;
        border-radius: 0.4em;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }
    button{
        width: 5rem;
    }
}