
$main: #78FF96;
$caution: #FF8777;
$gray: #F0F0F0;
$img-bg: #C4C4C4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    position: relative;
}
.login, .main-body{
    padding: 1rem;
    padding-bottom: 3rem; 
}
body{
    background: rgba($gray, 0.5);
}

@import './routes/login', './general/general', './general/font',
    './routes/main', './routes/results', './general/responsive';