@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  position: relative;
}

.login, .main-body {
  padding: 1rem;
  padding-bottom: 3rem;
}

.main-body {
  background: #F0F0F0;
}

.login {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login h2 {
  margin: 1rem 0;
}

.login form {
  width: 70%;
}

.login form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 1rem;
  margin-top: 0.5rem;
}

.login form button {
  margin-top: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.login .join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .join h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.login input {
  width: 100%;
}

.new-room button {
  margin-right: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background: #78FF96;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  -webkit-box-shadow: 0 0 0.2rem #00000044;
          box-shadow: 0 0 0.2rem #00000044;
  font-family: inherit;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

button:active {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

button:disabled {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

input, label {
  display: block;
}

input {
  padding: 0.6rem 1.5rem;
  background: #F0F0F0;
  border: none;
  border-radius: 0.2rem;
  outline: none;
}

.popup-bg {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #00000033;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.popup {
  background: white;
  z-index: 10;
  padding: 1rem;
  border-radius: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup button {
  margin-right: 1rem;
}

.popup button:last-of-type {
  margin: 0;
}

.popup .row {
  margin-top: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-btn {
  height: 3.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid black;
}

.user-btn:last-of-type {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.user-btn:first-of-type {
  margin-top: 1rem;
}

.user-btn button {
  padding: 0;
  margin-right: 1rem;
}

.user-btn button:last-of-type {
  margin: 0;
}

.user-btn img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.burger-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger-btn img {
  width: 100%;
}

.burger-btn:hover {
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.caution {
  background: #FF8777;
}

.msg {
  width: 40%;
}

.no-req {
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, p, label {
  font-family: inherit;
  word-wrap: break-word;
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 0 1.5rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.07rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

html {
  font-size: 0.8em;
}

html .proposals-grid {
  margin: auto;
}

@media (min-width: 600px) {
  html {
    font-size: 1em;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 1.3em;
  }
  html .abs-container {
    display: block;
  }
  html .proposals-grid {
    width: 67%;
    margin: auto 0;
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  html .room-description {
    width: 67%;
  }
  html .burger-btn {
    display: none;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 1.2em;
  }
}

.room-description, .side-bar-inner, .proposal {
  background: white;
  -webkit-box-shadow: 0 0 0.5em #00000033;
          box-shadow: 0 0 0.5em #00000033;
  border-radius: 0.4em;
}

.abs-container {
  width: 30%;
  margin: 1rem;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.side-bar-inner {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar-inner h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 0.5rem;
}

.side-bar-inner h3:last-of-type {
  margin-bottom: 1.5rem;
}

.side-bar-inner > button {
  width: 80%;
  margin-bottom: 1rem;
}

.side-bar-inner > button:last-of-type {
  margin-bottom: 1.6rem;
}

.room-description {
  width: 100%;
  padding: 1rem;
  position: relative;
  left: 0;
  margin-bottom: 1rem;
}

.room-description h1 {
  text-align: left;
  margin-bottom: 1rem;
}

.proposals-grid {
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  gap: 1rem;
}

.proposal {
  width: 100%;
  padding: 1rem;
}

.proposal .row {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proposal p {
  margin: 0.5em 0;
}

.proposal img {
  background: #F0F0F0;
  height: 15rem;
  width: 100%;
  border-radius: 0.4em;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.proposal button {
  width: 5rem;
}

.header {
  padding: 0 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results {
  padding: 2rem;
}

.results h1 {
  margin: 2rem 0;
}

.results h2 {
  margin: 1rem 0;
}

.results .proposals-grid {
  margin: auto;
  width: 80%;
}

.winner {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.winner .last-card {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 50%;
}

.last-card {
  height: 12rem;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 0.4em #00000033;
          box-shadow: 0 0 0.4em #00000033;
}

.last-card img {
  min-width: 10rem;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  background: #F0F0F0;
}

.last-card .text-container {
  height: inherit;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.last-card .text-container p {
  word-wrap: break-word;
}
/*# sourceMappingURL=style.css.map */